
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

$primary-color: #2d3142;
$secondary-color: #EF8354;
$button-color: #4f5d75;
$button-hover-color: #424e63;
$primary-font: 'Raleway', sans-serif;

html {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@mixin h3-style {
  position: relative;
  top: 10px;
  font-family: $primary-font;
  font-size: 2em;
  font-weight: 400;
  color: black;
  text-align: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-even {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin social-links-layout {
  display: inline;
  align-items: right;
  width: 26px;
  margin-right: 40px;
  height: 30px;
  fill: $secondary-color;
}


// ##### HOME PAGE #####

.navbar {
  @include flex-center;
  background-color: $primary-color;
  height: 5.5em;
  border-bottom-left-radius: 100px;

  .navbar-list {
    list-style-type: none;

    .navbar-item {
      display: inline-block;
      text-align: center;
      margin-right: 40px;
      line-height: 40px;

      .navbar-link {
        color: $secondary-color;
        font-family: 'Raleway', sans-serif;
        font-size: 1.3em;
        
      }

    }
  }

  .navbar-social {

    .social-media-icons {
      @include social-links-layout;
    }

    .social-media-icons:hover {
      fill: white;
    }

  }

  .navbar-item:hover {
    border-bottom: 2px solid white;
    transition: 20ms;
  }

}

#active-item {
  border-bottom: 2px solid $secondary-color;

  #active-link {
    color: white;
  }

}

.intro-container {
  font-family: 'Raleway', sans-serif;
  margin: -40px 180px;
  display: flex;

  .intro-text {
    display: flex;
    flex-direction: column;

    .intro-h1 {
      font-size: 6em;
      color: $secondary-color;
      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: $primary-color;
      margin-bottom: 20px;
    }
  
    #intro-h3 {
      margin-top: 0;
      font-size: 2em;
      font-weight: 400;
    }
  
    .intro-paragraph {
      text-align: justify;
      font-size: 1.2em;
      line-height: 1.5em;
      width: 100%;
    }

    .cv-link {
      text-align: center;
      cursor: pointer;
      background-color: $button-color;
      border: 1px solid $button-color;
      border-radius: 5px;
      width: 140px;
      padding: 8px 10px;
      font-size: 1.3em;
      font-weight: 500;
      color: white ; 
    }

    .cv-link:hover {
      background-color: $button-hover-color;
    }

  }

  .profile-picture {
    align-self: center;
    border: 2px solid $primary-color;
    border-radius: 50px;
    margin: 93px 0 0 50px;
    width: auto;
    height: 300px;
  }
  
}

.skills-container {
  font: 1.7em $primary-font;
  background: #dbdada;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  height: 23rem;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;

  #skills-h3 {
    text-align: center;
    margin-top: 70px;
  }
  
  .skills {
    display: flex;
    justify-content: space-around;
  
    .tech-icons {
      display: flex;
      width: 110px;
      height: 110px;
      margin-top: 40px;
    }
  
  }

}

.education-container {
  font: 1.2em $primary-font;
  text-align: left;
  background: white;
  position: relative;
  height: 20rem;
  top: 130px;

  #education-h3 {
    font-size: 1.7em;
    text-align: center;
  }

  .schools {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  
    .coder-container {
      display: flex;

      .coder-img {
        width: auto;
        height: 180px;
        transform: scale(0.45);
      }

      p {
        padding-top: 12px;
        line-height: 1.5em;
      }

    }

    .usyd-container {
      display: flex;

      .usyd-img {
        width: auto;
        height: 180px;
        transform: scale(0.65);
      }

      p {
        padding-top: 12px;
        line-height: 1.5em;
      }
      
    }
  
  }

}

.footer {
  background: $primary-color;
  position: relative;
  top: 180px;
  height: 5em;
  border-top-right-radius: 100px;
  padding-top: 16px;

  .footer-text {
  
    p {
      font: 1.3em $primary-font;
      color: $secondary-color;
      text-align: center;
      @include flex-center;
    }

  }

  .social-footer { 
    display: none;

    .social-media-icons {
     @include social-links-layout;
    }

    .social-media-icons:hover {
      fill: white;
    }

  }

}


// ##### PROJECTS PAGE #####

#projects-h3 {
  @include h3-style;
}

.project-container {
  position: relative;
  top: 40px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-evenly;

  .project-image {
    width: auto;
    height: 300px;
    border: 1px solid black;
    border-radius: 50px;
  }

  .project-description {

    h3 {
      text-align: center;
      font: 1.8em $primary-font;
      margin: 0;
    }

    p {
      font: 1.2em $primary-font;
      line-height: 1.5em;
      width: 700px;
      text-align: justify;
    }

    p::first-letter {
      margin-left: 30px;
    }

  }

}

#project-1, #project-3 {
  background-color: #dbdada;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 60px 0;
}

#project-4 {
  margin-bottom: 0;
}

#projects-footer {
  margin-top: -65px;
}


// ##### BLOG PAGE #####

.blog-bg { // <body> tag for the Blog and Posts pages
  background-color: #f2f2f2;
}

#blog-h3{
  @include h3-style;
}

@mixin img-post {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  transition: transform 0.5s ease-out;
}

.card-container {
  @include flex-center;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
  top: 30px;
  margin: 0 20px -60px 20px;
 
  .card {
    background-color: white;
    border-radius: 15px;
    width: 350px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    

    .card-image {
      border-radius: 15px 15px 0 0;
      height: 10rem;
      position: relative;
      z-index: 1;
      overflow: hidden;
    
      #img-post-1 {
        @include img-post;
        background-image: url(../images/blog/books.jpeg);

      }
  
      #img-post-2 {
        @include img-post;
        background-image: url(../images/blog/keyboard.jpeg);
      }
  
      #img-post-3 {
        @include img-post;
        background-image: url(../images/blog/wireframe.jpeg);
      }

      #img-post-4 {
        @include img-post;
        background-image: url(../images/blog/mixer.jpeg);
      }

      #img-post-5 {
        @include img-post;
        background-image: url(../images/blog/always-open.jpeg);
        
      }

    }

    .card-text {
      position: relative;
      font-family: $primary-font;
      text-align: justify;
      padding: 20px;
    
      .card-title {
        text-align: left;
        font-size: 1.5em;
        line-height: 40px;
        margin-top: 0;
      }
      
      .card-description {
        position: relative;
      }
      
    }

  }

}

.card-description::first-letter {
  margin-left: 15px;
}

.card-description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 20px;
  background: $secondary-color;
  border-radius: 5px;
}

.read-more {
  text-align: right;
  font-weight: bold;
  margin-top: 5px;

  a {
    position: relative;
    background: $secondary-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: $secondary-color;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }
  
}


// ##### BLOG POST PAGES #####

.post-page-bg {
  background-color: #f2f2f2;
}

.blog-post {
  @include flex-column-wrap;

  .post-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    // height: 168vh;
    // min-height: 100vh;
    margin: 70px 180px 0px 180px;
    // overflow-y: hidden;

    .author {
      @include flex-center-even;
      position: relative;
      top: 30px;
      width: 40%;
      // margin-left: 5px;

      #author-image {
        width: auto;
        height: 40px;
        border-radius: 50%;
      }

      p {
        font: 1em $primary-font;
      }

    }
    
    .post-heading-container {
      @include flex-column;
      text-align: center;
      margin: 30px;

      .post-title {
        font: 3em $primary-font;
      }

    }

    .post-content {
      // position: relative; // This was causing me problems.
      // top: 80px;
      margin: 0 50px 20px 50px;
      font: 1.2em $primary-font;
      line-height: 1.5;
      text-align: justify;

      .post-paragraph::first-letter {
        margin-left: 30px;
      }

      #post-1-img {
        shape-outside: margin-box;
        border-radius: 15px;
        float: right;
        width: auto;
        height: 300px;
        margin: 0 0 30px 30px;
      }

      #post-2-img {
        @extend #post-1-img;
      }

      #post-3-img {
        @extend #post-1-img;
      }

      #post-4-img {
        @extend #post-1-img;
        height: 180px;
      }

      #post-5-img {
        @extend #post-1-img;
      }

    }

    @mixin previous-next-layout {
      font: 1.2em $primary-font;
      text-align: center;
      color: white;
      background-color: $button-color;
      border: 1px solid $button-color;
      border-radius: 5px;
      padding: 5px 20px;
    }

    .initial-next-container {
      border-top: 1px solid black;
      margin-top: 40px;

      .initial-next-button {
        float: right;
        margin: 35px 0;

        .initial-next-link {
          @include previous-next-layout;
          font-size: 1em;
        }

      }

      .initial-next-link:hover {
        background-color: $button-hover-color;
      }

    }

    .previous-next-container {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid gray;
      margin: 40px 50px 0 50px;
  
      .previous {
        @include previous-next-layout;
        margin: 30px 0;
      }

      .previous:hover {
        background-color: $button-hover-color;
      }

      .next {
        @extend .previous;
      }

      .next:hover {
        @extend .previous:hover
      }

    }
    
  }

}

#blog-post-footer {
  margin-top: -110px;
}


// ##### CONTACT PAGE #####

#contact-h3 {
  @include h3-style;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-evenly;
  position: relative;
  top: 40px;
  
  .contact-description {
    flex-direction: column;
    justify-content: center;
    font: 1.2em $primary-font;
    line-height: 1.5;

    #contact-image {
      position: relative;
      left: 115px;
      width: auto;
      height: 180px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      margin: 0 0 30px 0px;
      
    }

    p {
      width: 500px;
      text-align: justify;
      margin: 0;
    }

  }

  .contact-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: $primary-font;
    background-color: #f2f2f2;
    border: 1px solid $primary-color;
    border-radius: 5px;
    width: 28%; 
    padding: 14px;
    margin-right: 24px;
    
    input[type=text], select, textarea {
      box-sizing: border-box; 
      width: 100%; 
      padding: 12px;  
      margin-top: 6px; 
      margin-bottom: 16px; 
      border: 1px solid #ccc; 
      border-radius: 5px; 
      font-family: $primary-font;
      font-size: 1.1em;
    }
    
    input[type=submit] {
      cursor: pointer;
      background-color: $secondary-color;
      border: 1px solid black;
      border-radius: 5px;
      padding: 12px 20px;
      font-family: $primary-font;
      font-size: 1em;
      font-weight: 1000;
    }
    
    input[type=submit]:hover {
      background-color: #d7754b;
    }

  }

}


// ##### MEDIA QUERIES #####
@media screen and (max-width: 1300px) {
  .intro-container {
    margin: 0 75px 0 75px;

    .profile-picture {
      align-self: flex-start;
    }
  }
}



@media screen and (max-width: 1200px) {
  .intro-container {
    margin: 0 75px 0 75px;

    .profile-picture {
      align-self: flex-start;
    }
  }
}

@media screen and (max-width: 1024px) {

  .intro-container {
    margin: -20px 75px;

    .profile-picture {
      align-self: center;
    }
  }

  .footer {

    padding: 0;

    .footer-text {
      p {
        font-size: 1.3em;
        padding: 30px 0 0 0;
      }

    }

  }

  .project-container {
  
    .project-image {
      height: 180px;
    }
  
    .project-description {
  
      p {
        width: 500px;
      }
  
    }
  
  }
  
  #project-1, #project-3 {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  
  #project-4 {
    margin-bottom: 0;
  }
  
  #projects-footer {
    margin-top: -100px;
  }

  .card-container {

    #last-card {
      margin-bottom: -20px;
    }

  }

  .contact-container {
    justify-content: space-evenly;
    
    .contact-description { 
      
      #contact-image {
        margin: 0 0 30px 0;
      }
  
    }
  
    .contact-form {
      margin-right: 0;
      width: 350px;
  
    }

  }

  .blog-post {
  
    .post-container {
      margin: 70px;

      .author {
  
        #author-image {
          width: auto;
          height: 30px;
        }
  
        p {
          font: 0.8em $primary-font;
        }
  
      }
      
      .post-heading-container {
        @include flex-column;
        text-align: center;
        margin: 30px;
  
        .post-title {
          font: 2em $primary-font;
        }
  
      }
  
      .post-content {
        font-size: 1em;
  
        #post-1-img {
          width: auto;
          height: 180px;
        }
  
        #post-2-img {
          width: auto;
          height: 180px;
        }
  
        #post-3-img {
          width: auto;
          height: 180px;
        }
  
        #post-4-img {
          width: auto;
          height: 180px; 
        }
  
        #post-5-img {
          width: auto;
          height: 180px;
        }
  
      }
      
    }
  
  }
  
  #blog-post-footer {
    margin-top: -200px;
  }

}

@media screen and (max-width: 950px) {
  .intro-container {

    .profile-picture {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {

  .navbar {
    border-bottom-left-radius: 70px;
  }

  .intro-container {
 
    .profile-picture {
      display: none;
    }
    
  }

  .skills-container {
    
    .skills {
    
      .tech-icons {
        width: 90px;
        height: 90px;
      }
    
    }
  
  }
  
  .education-container {

    .schools {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .coder-container {

        .coder-img {
          transform: scale(0.45);
        }

      }

      .usyd-container {

        .usyd-img {
          margin-left: 2px;
          transform: scale(0.60);
        }

      }

    }

  }

  .footer {
    border-top-right-radius: 70px;
    position: relative;
    top: 370px;

    .footer-text {
      font-size: 1em;
    }

  }

  .project-container {
  
    .project-image {
      position: relative;
      top: 100px;
      height: 180px;
    }
  
    .project-description {
  
      p {
        width: 400px;
      }
  
    }
  
  }
  
  #project-1, #project-3 {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  
  #project-4 {
    margin-bottom: 0;
  }
  
  #projects-footer {
    margin-top: -280px;
  }

  .card-container {

    transform: scale(1.2);

    #first-card {
      margin-top: 270px;
    }

    #last-card {
      margin-bottom: 100px;
    }

  }

  .contact-container {
    
    
    .contact-description { 
      
      #contact-image {
        margin: 0 0 30px 0; 
      }
  
    }
  
    .contact-form {
      width: 470px;
      margin-bottom:  180px;
    }

  }

  .blog-post {
  
    .post-container {
      margin: 50px;

      .author {
        margin: 0 27px;
  
        #author-image {
          width: auto;
          height: 30px;
        }
  
        p {
          font-size: 0.8em;
        }
  
      }
      
      .post-heading-container {
        @include flex-column;
        text-align: center;
        margin: 30px;
  
        .post-title {
          font-size: 2em;
        }
  
      }
  
      .post-content {
        font-size: 1em;
        margin: 0 40px;
  
        #post-1-img {
          width: auto;
          height: 180px;
        }
  
        #post-2-img {
          width: auto;
          height: 180px;
        }
  
        #post-3-img {
          width: auto;
          height: 180px;
        }
  
        #post-4-img {
          width: auto;
          height: 180px; 
        }
  
        #post-5-img {
          width: auto;
          height: 180px;
        }
  
      }
      
    }
  
  }
  
  #blog-post-footer {
    margin-top: -385px;
  }

}

@media screen and (max-width: 762px) {

  .navbar-social {
    display: none;
  }

  .footer {
    height: 6em;
    border-top-right-radius: 60px;

    .social-footer {
      margin: 0 90px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .social-media-icons {
        margin: 22px 0 0 0;
      }

    }
    
    .footer-text {

      p {
        margin-top: 9px;
        padding: 0;
        font-size: 0.7em;
      }
      
    }

  }
}

@media screen and (max-width: 600px) {

  .navbar {
    border-bottom-left-radius: 70px;
  }

  .skills-container {
    height: 20rem;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    .skills {
  
      .tech-icons {
        width: 70px;
        height: 75px;
      }
  
    }

  }

}

@media screen and (max-width: 425px) {

  .navbar {
    height: 5.5em;
    height: 90px;
    border-bottom-left-radius: 60px;
  
    .navbar-list {
  
      .navbar-item {
        display: inline-block;
        margin-right: 25px;
        
  
        .navbar-link {
          font-size: 1.2em;
        }

      }

    }

    .navbar-social { 
      display: none;

    }

  }

  .intro-container {
    margin: -35px 40px;

    .intro-text {

      #intro-h3 {
        text-align: left;
      }

    }

  }

  .skills-container {
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;

    .skills {
      transform: scale(0.95);
    }

  }

  .education-container {
    margin-bottom: -60px;

    .schools {
      margin: 0 -30px;

      .coder-container {
        align-items: center;
        margin: -10px 0 -20px 0;

        .coder-img {
          transform: scale(0.4);
        }

        p {
          margin-left: -30px;
          font-size: 0.8em;
        }

      }
      .usyd-container {
        align-items: center;

        .usyd-img {
          transform: scale(0.5);
        }

        p {
          margin-left: -30px;
          font-size: 0.8em;
        }

      }

    }

  }

  .footer {
    height: 5.5em;
    border-top-right-radius: 60px;

    .social-footer {
      margin: 0 50px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .social-media-icons {
        margin: 22px 0 0 0;
      }

    }
    
    .footer-text {

      p {
        margin-top: 6px;
        padding: 0;
        font-size: 0.7em;
      }
      
    }

  }

  .project-container {
    flex-direction: column;
    align-items: center;
  
    .project-image {
      position: relative;
      top: -40px;
      height: 300px;
      transform: scale(0.7);
    }
  
    .project-description {
      position: relative;
      top: -30px;
  
      p {
        width: 370px;
      }
  
    }
  
  }
  
  #project-1, #project-3 {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  #project-2, #project-4 {
    margin-bottom: -30px;
    flex-direction: column-reverse;
  }
  
  #projects-footer {
    margin-top: -350px;
  }
  
  .card-container {
    margin-bottom: -260px;
  }

  .card-container {

    transform: scale(1.1);

    #first-card {
      margin-top: 180px;
    }

    #last-card {
      margin-bottom: 180px;
    }

  }

  .contact-container {
    
    .contact-description { 
      
      #contact-image {
        transform: scale(0.9);
        margin: -20px 0 20px -62px; 
      }

      p {
        width: 380px;
        margin-bottom: -10px;
      }
  
    }
  
    .contact-form {
      width: 350px;
      margin-bottom:  180px;
    }

  }

  .blog-post {
  
    .post-container {
      position: relative;
      margin: 40px 10px 55px 10px;

      .author {
        right: 10px;
        margin-left: 0;
        width: 75%;
  
        #author-image {
          width: auto;
          height: 30px;
        }
  
        p {
          font-size: 0.8em;
        }
  
      }
      
      .post-heading-container {
        margin-top: 45px;
  
        .post-title {
          font-size: 1.6em;
        }
  
      }
  
      .post-content {
        @include flex-column;
        margin: 0 20px;

  
        #post-1-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-2-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-3-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-4-img {
          width: 280px;
          height: 180px;
          position: relative;
          left: 42px;
          margin: 0 0 20px 0;
        }
  
        #post-5-img {
          width: 300px;
          height: 200px;
          position: relative;
          left: 33px;
          margin: 0 0 20px 0;
        }
  
      }
      
      .initial-next-container {
        margin-top: 10px;

        .initial-next-button {

          .initial-next-link {
            font-size: 1.1em;
          }

        }

      }
  
      .previous-next-container {
        
        font-size: 0.9em;
        margin: 10px 20px 0 20px;
  
      }

    }
  
  }
  
  #blog-post-footer {
    margin-top: -385px;
  }

}

@media screen and (max-width: 375px) {

  .navbar {
    border-bottom-left-radius: 50px;
  
    .navbar-list {
      margin-left: 25px;
      padding: 0;

      .navbar-item {
        margin-right: 20px;
      }

    }

    .navbar-social { 
      display: none;

    }

  }

  .intro-container {
    margin: -35px 30px;
  }

  .skills-container {
    height: 11em;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

    .skills {

      .tech-icons {
        width: 55px;
        height: 55px;
      }

    }

  }

  .education-container {
    margin-bottom: -100px;

    #education-h3 {
      margin: 20px 0 10px;
    }

    .schools {
      margin-left: -50px;

      .coder-container {
        margin-bottom: -20px;
        transform: scale(0.85);
      }

      .usyd-container {
       transform: scale(0.85);
      }

    }

  }

  .footer {
    border-top-right-radius: 50px;
  } 

  .project-container {
    flex-direction: column;
    align-items: center;
  
    .project-description {
 
      p {
        width: 330px;
      }
  
    }
  
  }

  #project-2, #project-4 {
    flex-direction: column-reverse;

    .project-description {
      margin-top: -40px;
      margin-bottom: 40px;
    }
    
    .project-image {
      position: relative;
      top: -80px;
    }

  }
  
  #projects-footer {
    margin-top: -360px;
  }

  .card-container {

    transform: scale(1);

    #first-card {
      margin-top: -5px;
    }

    #last-card {
      margin-bottom: -5px;
    }

  }

  .contact-container {
    
    .contact-description { 

      #contact-image {
        transform: scale(1.1);
        margin: -20px 0 40px -26px; 
      }

      p {
        width: 350px;
        margin-bottom: -10px;
      }
  
    }
  
    .contact-form {
      width: 320px;
      margin-bottom: -270px;
    }

  }

  .blog-post {
  
    .post-container {
      transform: scale(0.9);
      top: -90px;
      right: 23.5px;
      margin-bottom: -120px;
      box-shadow: 0px 2px 5px gray;

      .author {
        right: 10px;
        margin-left: 0;
        width: 75%;
  
        #author-image {
          width: auto;
          height: 30px;
        }
  
        p {
          font-size: 0.8em;
        }
  
      }
      
      .post-heading-container {
        margin-top: 45px;
  
        .post-title {
          font-size: 1.6em;
        }
  
      }
  
      .post-content {
        @include flex-column;
        margin: 0 20px;

  
        #post-1-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-2-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-3-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-4-img {
          position: relative;
          left: 0;
          width: 301px;
          height: 211px;
          margin: 0 30px 20px 30px;
        }
  
        #post-5-img {
          position: relative;
          left: 0;
          width: 301px;
          height: 211px;
          margin: 0 30px 20px 30px;
        }
  
      }
      
      .initial-next-container {
        margin-top: 10px;

        .initial-next-button {

          .initial-next-link {
            font-size: 1.1em;
          }

        }

      }
  
      .previous-next-container {
        
        font-size: 0.9em;
        margin: 10px 20px 0 20px;
  
      }

    }
  
  }
  
  #blog-post-footer {
    margin-top: -385px;
  }
  
}

@media screen and (max-width: 320px) {

  .navbar {
    border-bottom-left-radius: 30px;
  
    .navbar-list {
      margin-left: 12px;
     
      .navbar-item {
        margin-right: 11px;
      }

    }

    .navbar-social { 
      display: none;

    }

  }

  .intro-container {
    margin: -35px 15px;
  }

  .skills-container {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .education-container {

 
    .schools {
      
      .coder-container {
        margin-left: -20px;
       
        .coder-img {
          transform: scale(0.3);
        }

        p {
          transform: scale(1.1);
        }

      }

      .usyd-container {
        margin-left: -20px;

        .usyd-img {
          transform: scale(0.4);
        }

        p {
          transform: scale(1.1);
        }

      }

    }

  }

  .footer {
    border-top-right-radius: 30px;

    .social-footer {
      justify-content: space-around;
    }

  } 

  .project-container {
    flex-direction: column;
    align-items: center;

    .project-image {
      margin-top: -30px;
      transform: scale(0.65);
    }
  
    .project-description {
      
      p {
        width: 300px;
      }
  
    }
  
  }

  #project-2, #project-4 {
    flex-direction: column-reverse;

    .project-description {
      position: relative;
      top: -30px;
    }
    
    .project-image {
      position: relative;
      top: -60px;
    }

  }
  
  #projects-footer {
    margin-top: -360px;
  }

  .card-container {
    transform: scale(0.87);

    #first-card {
      
      margin-top: -190px;
    }

    #last-card {
      margin-bottom:  180px;
    }

  }

  .contact-container {
    
    .contact-description { 

      #contact-image {
        transform: scale(0.9);
        margin: -40px 0 20px -52px; 
      }

      p {
        width: 295px;
        margin-bottom: -10px;
      }
  
    }
  
    .contact-form {
      width: 270px;
      margin-bottom: -270px;
    }

  }

  .blog-post {
  
    .post-container {
      transform: scale(0.78);
      top: -300px;
      right: 50px;
      margin-bottom: -540px;
      box-shadow: 0px 2px 5px gray;

      .author {
        right: 10px;
        margin-left: 0;
        width: 85%;
  
        #author-image {
          width: auto;
          height: 35px;
        }
  
        p {
          font-size: 1em;
        }
  
      }
      
      .post-heading-container {
        margin-top: 45px;
  
        .post-title {
          font-size: 1.9em;
        }
  
      }
  
      .post-content {
        @include flex-column;
        margin: 0 20px;
        font-size: 1.25em;

  
        #post-1-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-2-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-3-img {
          width: auto;
          height: 200px;
          margin: 0 30px 20px 30px;
        }
  
        #post-4-img {
          width: 300px;
          height: 180px;
          position: relative;
          left: 0px;
        }
  
        #post-5-img {
          width: 300px;
          height: 180px;
          position: relative;
          left: 0px;
        }
  
      }
      
      .initial-next-container {
        margin-top: 10px;

        .initial-next-button {

          .initial-next-link {
            font-size: 1.1em;
          }

        }

      }
  
      .previous-next-container {
        
        font-size: 1.1em;
        margin: 10px 20px 0 20px;
  
      }

    }
  
  }
  
  #blog-post-footer {
    margin-top: -385px;
  }

}


