
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

$primary-color: #2d3142;
$secondary-color: #EF8354;

$primary-font: 'Raleway', sans-serif;

html {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  border-bottom-left-radius: 100px;

  .navbar-list {
    list-style-type: none;

    .navbar-item {
      display: inline-block;
      text-align: center;
      margin-right: 40px;
      line-height: 40px;

      .navbar-link {
        color: $secondary-color;
        font-family: 'Raleway', sans-serif;
        font-size: 1.3em;
        
      }
    }
  }
}

.navbar-item:hover {
  // border-radius: 10px;
  border-bottom: 2px solid white;
  transition: 20ms;
}

#active-item {
  // background-color: white;
  border-bottom: 2px solid $secondary-color;
  // border-radius: 10px;

  #active-link {
    color: white;
  }

}

.home-content {
  font-family: 'Raleway', sans-serif;
  max-width: 70em;
  margin: 0 auto;

  .profile-picture {
    width: auto;
    height: 300px;
    float: right;
    border-radius: 50px;
    border: 2px solid $primary-color;
  }

  .home-h1 {
    font-size: 6em;
    color: $secondary-color;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: $primary-color;
    margin-bottom: 20px;
  }

  .home-h3 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400;
  }

  .home-paragraph {
    font-size: 1.2em;
    line-height: 1.5em;
    width: 75%;
  }
  
}

.skills-container {
  font: 1.2em $primary-font;
  text-align: left;
  background: #dbdada;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;
  height: 22rem;
  top: 80px;
  padding: 10px 100px;

  .home-h3 {
    text-align: center;
    font-size: 1.7em;
    padding-top: 20px;
  }

  .skills {
    width: 70px;
    height: 70px;
    // display: flex;
    // justify-content: space-evenly;
    margin: 100px auto;

  }

  .tech-icons {
    height: 100px;
    width: 100px;
    margin-left: -10px;
    padding: 50px 0px 0 130px;
  }

}

.education {
  font: 1.2em $primary-font;
  text-align: left;
  background: white;
  position: relative;
  height: 20rem;
  top: 120px;
  padding: 10px 100px;

  .home-h3 {
    text-align: center;
    font-size: 1.7em;
  }

  .education-content {
    display: flex;
    justify-content: space-evenly;
  
    .coder {
      width: auto;
      height: 200px;
      transform: scale(0.6);
    }
  
    .usyd {
      padding-left: 100px;
      width: auto;
      height: 200px;
      transform: scale(0.8);
    }
  
    p {
      padding-top: 12px;
      line-height: 1.5em;
    }
  
  }

}


.footer {
  font: 1.2em $primary-font;
  text-align: left;
  background: $primary-color;
  border-top-right-radius: 100px;
  position: relative;
  height: 5rem;
  top: 200px;
  padding: 10px 100px;

  p {
    font-size: 1.1em;
    color: $secondary-color;
    text-align: center;
    margin-top: 30px;
  }

}


@media screen and (max-width: 640px) {

  .navbar {
    border-bottom-left-radius: 40px;
    height: 70px;
    
    .navbar-list {

      
      .navbar-item {
        margin-right: 20px;
        line-height: 40px;

        .navbar-links {
          font-size: 1.1em;
        }
      }
    }
  }

  .home-h1 {
    text-align: center;
  }
  
  .home-h3 {
    text-align: left;
    margin: 0 30px;
    font-size: 1.7em;
  }

  .home-paragraph {
    font-size: 1.2em;
  }

}





