@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
html {
  box-sizing: border-box; }

body {
  background-color: white;
  margin: 0; }

a:-webkit-any-link {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.navbar {
  background-color: #2d3142;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  border-bottom-left-radius: 100px; }
  .navbar .navbar-list {
    list-style-type: none; }
    .navbar .navbar-list .navbar-item {
      display: inline-block;
      text-align: center;
      margin-right: 40px;
      line-height: 40px; }
      .navbar .navbar-list .navbar-item .navbar-link {
        color: #EF8354;
        font-family: 'Raleway', sans-serif;
        font-size: 1.3em; }

.navbar-item:hover {
  border-bottom: 2px solid white;
  transition: 20ms; }

#active-item {
  border-bottom: 2px solid #EF8354; }
  #active-item #active-link {
    color: white; }

.home-content {
  font-family: 'Raleway', sans-serif;
  max-width: 70em;
  margin: 0 auto; }
  .home-content .home-h1 {
    font-size: 6em;
    color: #EF8354;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #2d3142;
    margin-bottom: 20px; }
  .home-content .home-h3 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400; }
  .home-content .home-paragraph {
    font-size: 1.2em;
    width: 75%; }

.profile-img {
  width: auto;
  height: 300px;
  float: right;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px solid #2d3142; }

.skills-container {
  font: 1.2em "Raleway", sans-serif;
  text-align: left;
  background: #dbdada;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;
  height: 22rem;
  top: 100px;
  padding: 10px 100px; }
  .skills-container .home-h3 {
    text-align: center;
    font-size: 1.7em;
    padding-top: 20px; }
  .skills-container .skills {
    width: 70px;
    height: 70px;
    margin: 100px auto; }
  .skills-container .tech-icons {
    height: 100px;
    width: 100px;
    margin-left: -10px;
    padding: 50px 0px 0 130px; }

.education {
  font: 1.2em "Raleway", sans-serif;
  text-align: left;
  background: white;
  position: relative;
  height: 20rem;
  top: 120px;
  padding: 10px 100px; }
  .education .home-h3 {
    text-align: center;
    font-size: 1.7em; }

.education-content {
  display: flex;
  justify-content: space-evenly; }
  .education-content .coder {
    width: auto;
    height: 200px;
    transform: scale(0.6); }
  .education-content .usyd {
    padding-left: 100px;
    width: auto;
    height: 200px;
    transform: scale(0.8); }
  .education-content p {
    padding-top: 12px;
    line-height: 1.5em; }

.footer {
  font: 1.2em "Raleway", sans-serif;
  text-align: left;
  background: #2d3142;
  border-top-right-radius: 100px;
  position: relative;
  height: 5rem;
  top: 200px;
  padding: 10px 100px; }
  .footer p {
    font-size: 1.1em;
    color: #EF8354;
    text-align: center;
    margin-top: 30px; }

@media screen and (max-width: 640px) {
  .navbar {
    border-bottom-left-radius: 40px;
    height: 70px; }
    .navbar .navbar-list .navbar-item {
      margin-right: 20px;
      line-height: 40px; }
      .navbar .navbar-list .navbar-item .navbar-links {
        font-size: 1.1em; }

  .home-h1 {
    text-align: center; }

  .home-h3 {
    text-align: left;
    margin: 0 30px;
    font-size: 1.7em; }

  .home-paragraph {
    font-size: 1.2em; } }

/*# sourceMappingURL=style.css.map */
