@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  background-color: #2d3142;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.5em;
  border-bottom-left-radius: 100px;
}

.navbar .navbar-list {
  list-style-type: none;
}

.navbar .navbar-list .navbar-item {
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  line-height: 40px;
}

.navbar .navbar-list .navbar-item .navbar-link {
  color: #EF8354;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
}

.navbar .navbar-social .social-media-icons {
  display: inline;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  width: 26px;
  margin-right: 40px;
  height: 30px;
  fill: #EF8354;
}

.navbar .navbar-social .social-media-icons:hover {
  fill: white;
}

.navbar .navbar-item:hover {
  border-bottom: 1px solid white;
  -webkit-transition: 20ms;
  transition: 20ms;
}

#active-item {
  border-bottom: 1px solid #EF8354;
}

#active-item #active-link {
  color: white;
}

.intro-container {
  font-family: 'Raleway', sans-serif;
  margin: -40px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-container .intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-container .intro-text .intro-h1 {
  font-size: 6em;
  color: #EF8354;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #2d3142;
  margin-bottom: 20px;
}

.intro-container .intro-text #intro-h3 {
  margin-top: 0;
  font-size: 2em;
  font-weight: 400;
}

.intro-container .intro-text .intro-paragraph {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 100%;
}

.intro-container .intro-text .resume-link {
  cursor: pointer;
  background-color: #4f5d75;
  border: 2px solid #4f5d75;
  border-radius: 5px;
  width: 180px;
  padding: 8px 10px;
  font-size: 1.3em;
  font-weight: 500;
  color: white;
}

.intro-container .intro-text .resume-link:hover {
  color: black;
  background-color: #EF8354;
}

.intro-container .profile-picture {
  width: auto;
  height: 300px;
  position: relative;
  top: 185px;
  border: 2px solid #2d3142;
  border-radius: 50px;
  margin-left: 50px;
}

.skills-container {
  font: 1.7em "Raleway", sans-serif;
  background: #dbdada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 100px;
  height: 23rem;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.skills-container #skills-h3 {
  text-align: center;
  margin-top: 70px;
}

.skills-container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-container .skills .tech-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 110px;
  margin-top: 40px;
}

.education-container {
  font: 1.2em "Raleway", sans-serif;
  text-align: left;
  background: white;
  position: relative;
  height: 20rem;
  top: 130px;
}

.education-container #education-h3 {
  font-size: 1.7em;
  text-align: center;
}

.education-container .schools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.education-container .schools .coder-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education-container .schools .coder-container .coder-img {
  width: auto;
  height: 200px;
  -webkit-transform: scale(0.45);
          transform: scale(0.45);
}

.education-container .schools .coder-container p {
  padding-top: 12px;
  line-height: 1.5em;
}

.education-container .schools .usyd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education-container .schools .usyd-container .usyd-img {
  width: auto;
  height: 200px;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.education-container .schools .usyd-container p {
  padding-top: 12px;
  line-height: 1.5em;
}

.footer {
  background: #2d3142;
  position: relative;
  top: 200px;
  height: 5em;
  border-top-right-radius: 100px;
  padding-top: 16px;
}

.footer .footer-text p {
  font: 1.3em "Raleway", sans-serif;
  color: #EF8354;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-footer {
  display: none;
}

.footer .social-footer .social-media-icons {
  display: inline;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  width: 26px;
  margin-right: 40px;
  height: 30px;
  fill: #EF8354;
}

.footer .social-footer .social-media-icons:hover {
  fill: white;
}

#projects-h3 {
  position: relative;
  top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: black;
  text-align: center;
}

.project-container {
  position: relative;
  top: 40px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project-container .project-image {
  width: auto;
  height: 300px;
  border: 1px solid black;
  border-radius: 50px;
}

.project-container .project-description h3 {
  text-align: center;
  font: 1.8em "Raleway", sans-serif;
  margin: 0;
}

.project-container .project-description p {
  font: 1.2em "Raleway", sans-serif;
  line-height: 1.5em;
  width: 700px;
  text-align: justify;
}

#project-1, #project-3 {
  background-color: #dbdada;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 60px 0;
}

#project-4 {
  margin-bottom: 0;
}

#projects-footer {
  margin-top: -65px;
}

.blog-bg {
  background-color: #f2f2f2;
}

#blog-h3 {
  position: relative;
  top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: black;
  text-align: center;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  position: relative;
  top: 30px;
  margin: 0 20px -60px 20px;
}

.card-container .card {
  background-color: white;
  border-radius: 15px;
  width: 350px;
  margin-bottom: 25px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card-container .card .card-image {
  border-radius: 15px 15px 0 0;
  height: 10rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card-container .card .card-image #img-post-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}

.card-container .card .card-image #img-post-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}

.card-container .card .card-image #img-post-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}

.card-container .card .card-image .layer-effect {
  width: 100%;
  height: 100%;
  background: rgba(79, 93, 117, 0.3);
}

.card-container .card .card-text {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  padding: 20px;
  position: relative;
}

.card-container .card .card-text .card-title {
  text-align: left;
  font-size: 1.5em;
  line-height: 40px;
  margin-top: 0;
}

.card-container .card .card-text .card-description {
  position: relative;
}

.card:hover .background-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-description::first-letter {
  margin-left: 15px;
}

.card-description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 20px;
  background: #EF8354;
  border-radius: 5px;
}

.read-more {
  text-align: right;
  font-weight: bold;
  margin-top: 5px;
}

.read-more a {
  background: #EF8354;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.read-more a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #EF8354;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.read-more a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#contact-h3 {
  position: relative;
  top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: black;
  text-align: center;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 40px;
}

.contact-container .contact-description {
  font: 1.2em "Raleway", sans-serif;
  line-height: 1.5;
  width: 35%;
}

.contact-container .contact-description #contact-image {
  width: auto;
  height: 250px;
  border: 1px solid #2d3142;
  border-radius: 5px;
  margin: 0 0 30px 65px;
}

.contact-container .contact-description p {
  text-align: justify;
  margin: 0;
}

.contact-container .contact-description .resume-link {
  float: right;
  font: 1em "Raleway", sans-serif;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  margin-top: -10px;
  border: 2px solid #EF8354;
}

.contact-container .contact-form {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #2d3142;
  border-radius: 5px;
  width: 28%;
  padding: 14px;
  margin-right: 24px;
}

.contact-container .contact-form input[type=text], .contact-container .contact-form select, .contact-container .contact-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.contact-container .contact-form input[type=submit] {
  cursor: pointer;
  background-color: #EF8354;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 1000;
}

.contact-container .contact-form input[type=submit]:hover {
  background-color: #d7754b;
}

.post-page-bg {
  background-color: #f2f2f2;
}

.blog-post .post-container {
  background-color: white;
  border-radius: 15px;
  margin: 70px 200px 0 200px;
  height: 168vh;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}

.blog-post .post-container .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 30px;
  width: 35%;
  margin-left: 30px;
}

.blog-post .post-container .author #author-image {
  width: auto;
  height: 40px;
  border-radius: 50%;
}

.blog-post .post-container .author p {
  font: 1.1em "Raleway", sans-serif;
}

.blog-post .post-container .post-heading {
  position: relative;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 30px;
}

.blog-post .post-container .post-heading h1 {
  font: 3em "Raleway", sans-serif;
  margin-bottom: 0;
}

.blog-post .post-container .post-content {
  position: relative;
  top: 80px;
  margin: 0 50px;
  font: 1.2em "Raleway", sans-serif;
  line-height: 1.5;
  text-align: justify;
}

.blog-post .post-container .post-content #post-1-img {
  shape-outside: margin-box;
  border-radius: 15px;
  float: right;
  width: auto;
  height: 300px;
  margin: 0 0 30px 30px;
}

.blog-post .post-container .post-content .post-paragraph::first-letter {
  margin-left: 30px;
}

.blog-post .post-container .initial-next-container, .blog-post .post-container .next-previous {
  position: relative;
  top: 100px;
  margin: 0 50px;
  border-top: 1px solid gray;
}

.blog-post .post-container .initial-next-container .initial-next-button, .blog-post .post-container .next-previous .initial-next-button, .blog-post .post-container .next-previous .next, .blog-post .post-container .next-previous .previous {
  float: right;
  background-color: #4f5d75;
  border: 2px solid #4f5d75;
  font: 1.3em "Raleway", sans-serif;
  color: white;
  text-align: center;
  border: 1px solid #2d3142;
  border-radius: 5px;
  margin-top: 40px;
  padding: 5px 10px;
  width: 60px;
}

.blog-post .post-container .initial-next-container .initial-next-button:hover, .blog-post .post-container .next-previous .initial-next-button:hover, .blog-post .post-container .next-previous .next:hover, .blog-post .post-container .next-previous .previous:hover {
  color: black;
  background-color: #EF8354;
}

.blog-post .post-container .next-previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-post .post-container .next-previous .previous {
  width: 100px;
}

#blog-post-footer {
  margin-top: -130px;
}

@media screen and (max-width: 1024px) {
  .intro-container {
    margin: -20px 75px;
  }
  .intro-container .profile-picture {
    margin-top: 65px;
  }
  .footer {
    padding: 0;
  }
  .footer .footer-text p {
    font-size: 1.3em;
    padding: 30px 0 0 0;
  }
}

@media screen and (max-width: 950px) {
  .intro-container .profile-picture {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    border-bottom-left-radius: 70px;
  }
  .intro-container .profile-picture {
    display: none;
  }
  .skills-container .skills .tech-icons {
    width: 90px;
    height: 90px;
  }
  .education-container .schools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }
  .education-container .schools .coder-container .coder-img {
    -webkit-transform: scale(0.45);
            transform: scale(0.45);
  }
  .education-container .schools .usyd-container .usyd-img {
    margin-left: 2px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .footer {
    border-top-right-radius: 70px;
    position: relative;
    top: 370px;
  }
  .footer .footer-text {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    border-bottom-left-radius: 70px;
  }
  .skills-container {
    height: 20rem;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
  }
  .skills-container .skills .tech-icons {
    width: 70px;
    height: 75px;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    height: 5.5em;
    height: 90px;
    border-bottom-left-radius: 60px;
  }
  .navbar .navbar-list .navbar-item {
    display: inline-block;
    margin-right: 25px;
  }
  .navbar .navbar-list .navbar-item .navbar-link {
    font-size: 1.2em;
  }
  .navbar .navbar-social {
    display: none;
  }
  .intro-container {
    margin: -35px 40px;
  }
  .intro-container .intro-text #intro-h3 {
    text-align: left;
  }
  .skills-container {
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
  .skills-container .skills {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .education-container {
    margin-bottom: -60px;
  }
  .education-container .schools {
    margin: 0 -30px;
  }
  .education-container .schools .coder-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -10px 0 -20px 0;
  }
  .education-container .schools .coder-container .coder-img {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .education-container .schools .coder-container p {
    margin-left: -30px;
    font-size: 0.8em;
  }
  .education-container .schools .usyd-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .education-container .schools .usyd-container .usyd-img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .education-container .schools .usyd-container p {
    margin-left: -30px;
    font-size: 0.8em;
  }
  .footer {
    height: 5.5em;
    border-top-right-radius: 60px;
  }
  .footer .social-footer {
    margin: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .social-footer .social-media-icons {
    margin: 22px 0 0 0;
  }
  .footer .footer-text p {
    margin-top: 6px;
    padding: 0;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    border-bottom-left-radius: 50px;
  }
  .navbar .navbar-list {
    margin-left: 25px;
    padding: 0;
  }
  .navbar .navbar-list .navbar-item {
    margin-right: 20px;
  }
  .navbar .navbar-social {
    display: none;
  }
  .intro-container {
    margin: -35px 30px;
  }
  .skills-container {
    height: 11em;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .skills-container .skills .tech-icons {
    width: 55px;
    height: 55px;
  }
  .education-container {
    margin-bottom: -100px;
  }
  .education-container #education-h3 {
    margin: 20px 0 10px;
  }
  .education-container .schools {
    margin-left: -50px;
  }
  .education-container .schools .coder-container {
    margin-bottom: -20px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .education-container .schools .usyd-container {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .footer {
    border-top-right-radius: 50px;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    border-bottom-left-radius: 30px;
  }
  .navbar .navbar-list {
    margin-left: 12px;
  }
  .navbar .navbar-list .navbar-item {
    margin-right: 11px;
  }
  .navbar .navbar-social {
    display: none;
  }
  .intro-container {
    margin: -35px 15px;
  }
  .skills-container {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .education-container .schools .coder-container {
    margin-left: -20px;
  }
  .education-container .schools .coder-container .coder-img {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  .education-container .schools .coder-container p {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .education-container .schools .usyd-container {
    margin-left: -20px;
  }
  .education-container .schools .usyd-container .usyd-img {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .education-container .schools .usyd-container p {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .footer {
    border-top-right-radius: 30px;
  }
  .footer .social-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */